openeo
# git+https://github.com/Open-EO/openeo-python-driver.git
pyrosm
matplotlib
torch
torchvision
torchaudio
opencv_python
git+https://github.com/qubvel/segmentation_models.pytorch
albumentations
click
tensorboardx
tqdm